body {
    color: rgba(0, 66, 128, 0.822);
    font-family: arial;
    /* max: width 600px; */
    margin: 0 auto;
    padding: 0 16px; 

    display: flex;
    flex-direction: column;
    min-height: 100vh
} 

.main-content {
    flex-grow: 1;
}

footer {
    background: red;
    color: black;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    background: rgba(255, 123, 0, 0.945);
    font-size: 75px;
    margin-bottom: 150px;
    padding: 250px 50px
}


header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

